<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key ="DBCon1" value ="Data Source=202.63.115.34\sbpl;Initial Catalog=SIVASHAKTHI;User ID=sbpl;Password=sbpl123" />
      <add key ="DBCon" value ="Data Source=202.63.115.34\sbpl;Initial Catalog=DEV_SIVASHAKTHI;User ID=sbpl;Password=sbpl123" />
    </appSettings>
</configuration>