<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- LIVE --> <!--<add key ="DBCon" value ="RGF0YSBTb3VyY2U9MjAyLjYzLjExNS4zNFxzYnBsO0luaXRpYWwgQ2F0YWxvZz1TSVZBU0hBS1RISTtVc2VyIElEPXNicGw7UGFzc3dvcmQ9c2JwbDEyMw==" />-->
    <!-- DEV --> <!--<add key="DBCon" value="RGF0YSBTb3VyY2U9MjAyLjYzLjExNS4zNFxzYnBsO0luaXRpYWwgQ2F0YWxvZz1ERVZfU0lWQVNIQUtUSEk7VXNlciBJRD1zYnBsO1Bhc3N3b3JkPXNicGwxMjM=" />-->
    <!-- LIVE URL --><add key="DBCon" value="RGF0YSBTb3VyY2U9d3d3LnNoaXZhc2hha3RoaWdyb3VwLmNvbVxzYnBsO0luaXRpYWwgQ2F0YWxvZz1TSVZBU0hBS1RISTtVc2VyIElEPXNicGw7UGFzc3dvcmQ9c2JwbDEyMw==" />
    <!-- LOCAL --> <!--<add key="DBCon" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xLjRcc2JwbDtJbml0aWFsIENhdGFsb2c9U0lWQVNIQUtUSEk7VXNlciBJRD1zYnBsO1Bhc3N3b3JkPXNicGwxMjM=" />-->
    <!-- BHARATH DB      <add key="DBCon" value="RGF0YSBTb3VyY2U9bG9jYWxob3N0O0luaXRpYWwgQ2F0YWxvZz1Mb2NhbDtVc2VyIElEPXNhO1Bhc3N3b3JkPXNh" />-->

    <!-- LOCAL_SHIVASHAKTHI 
    <add key="DBCon" value="RGF0YSBTb3VyY2U9d3d3LnNoaXZhc2hha3RoaWdyb3VwLmNvbVxzYnBsO0luaXRpYWwgQ2F0YWxvZz1MT0NBTF9TSElWQVNIQUtUSEk7VXNlciBJRD1zYnBsO1Bhc3N3b3JkPXNicGwxMjM="/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SSCRMAndrDBSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.63.115.34/SSCRMDB_Andr.asmx" binding="basicHttpBinding"
        bindingConfiguration="SSCRMAndrDBSoap" contract="SSCRMAndrDB.SSCRMAndrDBSoap"
        name="SSCRMAndrDBSoap" />
    </client>
  </system.serviceModel>
</configuration>